
      <div id="footer">
        <div class="inner-wrap clearfix">
          <div class="section newsletter">
            <p>Midori es una comunidad de horticultores para compartir, descubrir y charlar sobre horticultura. <a href="about/index.html" title="About Golf Ledger">Aprende mas <i class="fa fa-long-arrow-right"></i></a></p>
            <h3>Suscribete</h3>
            <p>Subscribete a nuestro boletin para recibir noticas de horticultura.</p>
            <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <fieldset>
                <input type="submit" value="Subscribete" name="subscribe" id="mc-embedded-subscribe"/>

                <div style="position: absolute; left: -5000px;"><input type="text" name="b_b2f355b7b681689b286b3db3b_74face5955" tabindex="-1" value=""></div>
                <div>
                  <input type="email" placeholder="mail@email.com" id="newsletter-email" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
              </fieldset>
            </form>
          </div>
          <div class="section community">
            <h3>Comunidad</h3>
            <ul>
              <li><a href="index.html" title="Browse Links">Explora Links</a></li>
              <li><a href="articles/index.html" title="Browse Articles">Explora Articulos</a></li>
              <li><a href="leaderboard/index.html" title="View the Leaderboard">Tabla de lideres</a></li>
              <li><a href="#" title="Sign Up for the Golf Ledger Newsletter">Noticias</a></li>
            </ul>
          </div>
          <div class="section company">
            <h3>Midori</h3>
            <ul>
              <li><a href="about/index.html" title="About Golf Ledger">Sobre nosotros</a></li>
              <li><a href="faq/index.html" title="Frequently asked Questions">FAQs</a></li>
              <li><a href="guidelines/index.html" title="Golf Ledger Community Guidelines">Guia de comportamiento</a></li>
              <li><a href="articles/blog/index.html" title="Golf Ledger Blog">Blog</a></li>
              <li><a href="contact/index.html" title="Contact us">Contacto</a></li>
            </ul>
          </div>
          <div class="section legal">
            <h3>Legal</h3>
            <ul>
              <li><a href="privacy/index.html" title="Privacy Policy">Politica de privacidad</a></li>
              <li><a href="terms/index.html" title="Terms of Service">Terminos y condiciones</a></li>
            </ul>
          </div>
          <div class="section social">
            <h3>Siguenos!</h3>
            <ul class="social">
              <li><a href="http://www.twitter.com/Midori" title="Midori en Twitter"><i class="fa fa-twitter-square"></i>Twitter</a></li>
              <li><a href="http://www.facebook.com/Midori" title="Midori en Facebook"><i class="fa fa-facebook-square"></i>Facebook</a></li>
              <li><a href="http://www.pinterest.com/Midori" title="Midori en Pinterest"><i class="fa fa-pinterest"></i>Pinterest</a></li>
              <li><a href="http://www.instagram.com/Midori" title="Midori en Instagram"><i class="fa fa-instagram"></i>Instagram</a></li>
              <li><a href="#" title=""><i class="fa fa-google-plus-square"></i>Google+</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="bottom-footer">
        <div class="inner-wrap clearfix">
          <p class="copyright">&copy; Midori 2015</p>
          <p class="footer-quote"><em><i class="fa fa-quote-left"></i> La horticultura es la madre fecunda que proporciona todas las materias primeras que dan movimiento a las artes y al comercio. <i class="fa fa-quote-right"></i></em> - Manuel Belgrano</p>
        </div>
      </div>

</html>