<!DOCTYPE HTML>
<html lang="es">

<head>
  <title>Midori - Red Social de Hortaleros</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="static/css/style.css" type="text/css"/>
  <link rel="stylesheet" href="static/css/adapt.css" type="text/css"/>
  <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="static/css/tooltipster.css" type="text/css"/>
  <link rel="stylesheet" href="static/css/jquery.selectBoxIt.css" type="text/css"/>
  <link rel="stylesheet" href="static/css/autoSuggest.css" type="text/css"/>
  <!--
  <link rel="stylesheet" href="../code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  -->
  <link rel="stylesheet" href="static/css/rrssb.css" type="text/css"/>
  <link rel="stylesheet" href="static/css/jquery.resizeandcrop.css" type="text/css"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
  <!--
  <script type="text/javascript" src="../ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="../ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
  -->
  <script type="text/javascript" src="static/js/jquery.leanModal.min.js"></script>
  <script type="text/javascript" src="static/js/jquery.resizeandcrop.js"></script>
  <!--[if lt IE 9]>
      <script type="text/javascript" src="/static/js/froala/froala_editor_ie8.min"></script>
      <![endif]-->
      <script type="text/javascript" src="static/js/jquery.selectBoxIt.js"></script>
      <script type="text/javascript" src="static/js/parsley.min.js"></script>
      <script type="text/javascript" src="static/js/jquery.tooltipster.min.js"></script>
      <script type="text/javascript" src="static/js/rrssb.js"></script>
      <script type="text/javascript" src="static/js/jquery.init.js"></script>
      <script type="text/javascript" src="static/js/jquery.autoSuggest.minified.js"></script>
      <script type="text/javascript" src="static/js/jquery.django-favorites.js"></script>
      <script type="text/javascript" src="static/js/jquery.django-likes.js"></script>
      <script type="text/javascript" src="static/js/jquery.django-follows.js"></script>
      <script type="text/javascript" src="static/js/jquery.django-report.js"></script>
      <script type="text/javascript" src="static/js/global.js"></script>
      
      <meta name="description" content="Comparte, descubre y charla sobre horticultura."/>
      <meta property="og:url" content="http://www.Midori.com/"/>
      <meta property="og:title" content="Midori"/>
      <meta property="og:site_name" content="Midori"/>
      <meta property="og:description" content="Comparte, descubre y charla sobre horticultura."/>
      <meta name="twitter:site" content="@midori"/>
      <meta name="twitter:creator" content="@JhonLPdev"/>
    </head>