{% load activity_tags %}
  {% include 'head.html' %}

    <body id="home" class="">

      {% include 'header.html' %}

      {% include 'subheader.html' %}

      <div id="content">
        <div class="inner-wrap clearfix">
          <ul id="filter" class="clearfix">
            <li class="active"><a href="index.html" title="Popular Posts">Popular</a></li>
            <li><a href="following/index.html" title="Links from People you're Following">Siguiendo</a></li>
            <li><a href="new/index.html" title="Newly Submitted Posts">Lo mas reciente</a></li>
            <li><a href="activity/index.html" title="Posts Sorted by Newest Activity">Mi Actividad</a></li>
            <li class="guidelines-link"><a id="go-guidelines" href="#guidelines-modal">Guia de comportamiento</a></li>
            <div id="guidelines-modal">
              <div class="guidelines-modal-header">
                <h2>Guia de comportamiento</h2>
                <a href="javascript:void(0)" class="modal_close"><i class="fa fa-close"></i></a>
              </div>
              <div class="guidelines-modal-main">
                <p>Antes de publicar, hecha un vistaso a las reglas.</p>
                <ul>
                  <li>Las publicaciones deben ser referentes a Horticultura.</li>
                  <li>No se permiten desnudos, violencia u otro tipo de contenido ofensivo.</li>
                  <li>No spam.</li>
                  <li>Se respetuoso con la comunidad.</li>
                </ul>
                <p><a href="guidelines/index.html">Guia completa de comportamiento</a></p>
              </div>
            </div>
          </ul>
          <div id="main-wrap">
            <div id="main">

              {% include 'publicaciones.html' %}

            </div>

            <div id="page">
              <div class="inner-wrap">
                <a href="index2679.html?page=1" class="prev">&lsaquo;&lsaquo; Anteriores</a>
                <a href="index9ba9.html?page=3" class="next">Siguientes &rsaquo;&rsaquo;</a>
              </div>
            </div>
          </div>
          <div id="sidebar">
          </div>
        </div>
      </div>
    </body>

  {% include 'foot.html' %}