
  {% include 'head.html' %}

    <body id="home" class="">

      {% include 'header.html' %}

      {% include 'subheader.html' %}

      <div id="content">
        <div class="inner-wrap clearfix">
          <ul id="filter" class="clearfix">
            <li class="active"><a href="index.html" title="Popular Posts">Popular</a></li>
            <li><a href="following/index.html" title="Links from People you're Following">Siguiendo</a></li>
            <li><a href="new/index.html" title="Newly Submitted Posts">Lo mas reciente</a></li>
            <li><a href="activity/index.html" title="Posts Sorted by Newest Activity">Mi Actividad</a></li>
            <li class="guidelines-link"><a id="go-guidelines" href="#guidelines-modal">Guia de comportamiento</a></li>
            <div id="guidelines-modal">
              <div class="guidelines-modal-header">
                <h2>Guia de comportamiento</h2>
                <a href="javascript:void(0)" class="modal_close"><i class="fa fa-close"></i></a>
              </div>
              <div class="guidelines-modal-main">
                <p>Antes de publicar, hecha un vistaso a las reglas.</p>
                <ul>
                  <li>Las publicaciones deben ser referentes a Horticultura.</li>
                  <li>No se permiten desnudos, violencia u otro tipo de contenido ofensivo.</li>
                  <li>No spam.</li>
                  <li>Se respetuoso con la comunidad.</li>
                </ul>
                <p><a href="guidelines/index.html">Guia completa de comportamiento</a></p>
              </div>
            </div>
          </ul>
          <div id="main-wrap">
            <div id="main">

              {% if publicaciones %}
     
                {% for post in publicaciones %}

              <article class="post clearfix no-img ">
                <ul class="post-extras">
                  <li class="post-category">
                    <a href="{% url "categoria" post.categoria.pk %}" title="Ver Categoria" class="blue">{{post.categoria}}</a>
                  </li>
                  <li class="fav-wrap">
                    <input type='hidden' name='#' value='#'/>
                    {% if True %}
                    <a href="">{{post.pk}}</a>
                    {% else %}
                    <a href="{% url "favorito" post.pk %}" title="Agregar a Favoritos"><i class="fa fa-heart"></i><span class="favsCounter" id="FavCounter_661">{{post.favoritos}}</span>{{post.es_favorito}}</a>
                    {% endif %}
                  </li>
                  <!--<li class="post-latest-comment">
                    <a href="661/i-think-its-safe-to-assume-that-i-cant-do-this/index.html#c=652" title="golpher replied 3 days, 13 hours ago" class="tooltip"><img src="../golfledger.s3.amazonaws.com/uploads/mugshots/3aa31a191a3578.jpg?Signature=q1XQ7P7T5nXKCgPcsXTB06XDCqc%3D&amp;Expires=1433476875&amp;AWSAccessKeyId=AKIAJM7TD5KDKW4QLAUA" alt="golpher"/></a>
                  </li>-->
                </ul>
                <article class="like-wrap ">
                  <input type='hidden' name='#' value='#'/>
                  <a href="signup/index.html" title="Me gusta"><i class="fa fa-arrow-up"></i><span class="likesCounter" id="LikeCounter_661">{{post.votos}}</span></a>
                </article>
                <article class="post-details">
                  <h2>
                    <a href="661/i-think-its-safe-to-assume-that-i-cant-do-this/index.html" title="Ver publicacion">{{post.titulo}}</a></h2>
                    <ul class="post-footer clearfix">
                      <li class="submitter"><a href="{% url "usuario" post.usuario.pk %}" title="Ver Perfil"> <!--<img src="../golfledger.s3.amazonaws.com/uploads/mugshots/f5e2f83c91c9d2.jpg?Signature=q9OBmQQPjcXOpmJmUB7WfCOYZXQ%3D&amp;Expires=1433476875&amp;AWSAccessKeyId=AKIAJM7TD5KDKW4QLAUA" alt=""/>-->{{post.usuario}}</a>
                      </li>
                      <li class="comment"><a href="661/i-think-its-safe-to-assume-that-i-cant-do-this/index.html#commentstart" title="Ver comentarios"><i class="fa fa-comment"></i>2 replies</a></li>
                      <li class="post-date">
                        <i class="fa fa-clock-o"></i>{{post.timestamp|timesince}}
                      </li>
                      <li class="mobile-category">
                        <a href="category/general-discussion/index.html" title="Ver Categoria" class="blue"><i class="fa fa-folder"></i> {{post.categoria}}</a>
                      </li>
                      <li class="report">
                        <input type='hidden' name='#' value='#'/>
                        <a href="signup/index.html" title=""><i class="fa fa-flag tooltip" title="Reportar"></i></a>
                      </a>
                    </li>
                  </ul>
                </article>
              </article>

              {% endfor %}
              {% else %}
                NO HAY Publicaciones
              {% endif %}

            </div>

            <div id="page">
              <div class="inner-wrap">
                <a href="index2679.html?page=1" class="prev">&lsaquo;&lsaquo; Anteriores</a>
                <a href="index9ba9.html?page=3" class="next">Siguientes &rsaquo;&rsaquo;</a>
              </div>
            </div>
          </div>
          <div id="sidebar">
          </div>
        </div>
      </div>
    </body>

  {% include 'foot.html' %}